/target/
target/*
/.idea/
*.iml
*.class
*.jar
*.war
/.vscode
/.vscode/
/.idea/
application-local.yaml
/mcp-clients/target/
/.idea/
/.idea/compiler.xml
/.idea/encodings.xml
/mcp-server-weather/target/
